{% extends "cart/navbar_base.html" %}

{% load static %}

{% block content %}





<div class="container-fluid  mt-100">
				 <div class="row d-flex justify-content-center mt-5">

					<div class="col-lg-4">

							<div class="card">

						<div class="card-body-m cart d-flex justify-content-center">
								<div class="col-sm-12 empty-cart-cls text-center">
									<img src="{% static 'store/img/orderi.jfif' %}" class="img-fluid mb-4 mr-3" style="width: 320px; height: 250px;">
									<h4><strong>Order Placed Successfully</strong></h4>
									<h6>Thank you for being part of the LitHub community :)</h6>
									<a href="{% url 'product_list' 'Category' 'all' %}" class="btn btn-success cart-btn-transform m-3" data-abc="true">Continue Shopping</a>


								</div>
						</div>
				</div>


					</div>

				 </div>

				</div>
{% endblock content %}

