{% extends "store/base.html" %}

{% block content %}


 Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: 'success',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Remove'
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire(
              'Removed!',
              'Item has been removed from the cart.',
              'success'
            )
          }
        })
    }
{% endblock content %}



{% extends "adminpanel/admin_base.html" %}

{% block content %}




{% endblock content %}

<section class="bg-light py-5">-->
<!--        <div class="container my-4">-->
<!--            <div class="row text-center py-3">-->
<!--                <div class="col-lg-6 m-auto">-->
<!--                    <h1 class="h1">Our Brands</h1>-->
<!--                    <p>-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--                        Lorem ipsum dolor sit amet.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="col-lg-9 m-auto tempaltemo-carousel">-->
<!--                    <div class="row d-flex flex-row">-->
<!--                        &lt;!&ndash;Controls&ndash;&gt;-->
<!--                        <div class="col-1 align-self-center">-->
<!--                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">-->
<!--                                <i class="text-light fas fa-chevron-left"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;End Controls&ndash;&gt;-->

<!--                        &lt;!&ndash;Carousel Wrapper&ndash;&gt;-->
<!--                        <div class="col">-->
<!--                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">-->
<!--                                &lt;!&ndash;Slides&ndash;&gt;-->
<!--                                <div class="carousel-inner product-links-wap" role="listbox">-->

<!--                                    &lt;!&ndash;First slide&ndash;&gt;-->
<!--                                    <div class="carousel-item active">-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash;End First slide&ndash;&gt;-->

<!--                                    &lt;!&ndash;Second slide&ndash;&gt;-->
<!--                                    <div class="carousel-item">-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash;End Second slide&ndash;&gt;-->

<!--                                    &lt;!&ndash;Third slide&ndash;&gt;-->
<!--                                    <div class="carousel-item">-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 p-md-5">-->
<!--                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash;End Third slide&ndash;&gt;-->

<!--                                </div>-->
<!--                                &lt;!&ndash;End Slides&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;End Carousel Wrapper&ndash;&gt;-->

<!--                        &lt;!&ndash;Controls&ndash;&gt;-->
<!--                        <div class="col-1 align-self-center">-->
<!--                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">-->
<!--                                <i class="text-light fas fa-chevron-right"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;End Controls&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash;End Brands&ndash;&gt;