{% extends "adminpanel/admin_base.html" %}

{% block content %}
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4 d-flex justify-content-center">
                    <div class="col-sm-12 col-xl-6 ">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Add Coupon</h6>
                            <form class="login-form" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="id_code" name="code"
                                        placeholder="Code">
                                    <label for="id_code">Code</label>
                                </div>


                                <div class="form-floating mb-3">
                                    <select class="form-select" id="discount_typeSelect" name="discount_typeSelect"
                                        aria-label="Floating label select example">
                                        <option value="pecentage" selected>Percentage</option>
                                        <option value="fixed">Fixed</option>
                                    </select>
                                    <label for="discount_typeSelect">Discount Type</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="id_discount_value" name="discount_value"
                                        placeholder="No of pages">
                                    <label for="id_discount_value">Discount Value</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="id_min_or_max_amount" name="min_or_max_amount"
                                        placeholder="No of pages">
                                    <label for="id_min_or_max_amount">Maximum Dicount or Minimum Purchase Amount</label>
                                </div>


                               <div class="form-floating mb-3">
                                    <input type="datetime-local" class="form-control" id="id_activation_date" name="activation_date">
                                    <label for="id_activation_date">Activation Date</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="datetime-local" class="form-control" id="id_expiration_date" name="expiration_date">
                                    <label for="id_expiration_date">Expiration Date</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="True" id="id_onetimeusable" name="onetimeusable" checked>
                                    <label class="form-check-label" for="id_onetimeusable">One Time Usable</label>
                                </div>

                                <br>
                                <button type="submit" class="btn btn-primary mt-3">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

          <script>
            // Get the current date
            const currentDate = new Date();
            // Set the time to midnight (00:00)
            currentDate.setHours(0, 0, 0, 0);

            // Calculate the next 30 days
            const next30Days = new Date(currentDate);
            next30Days.setDate(next30Days.getDate() + 30);

            // Format the dates in the required format for datetime-local input (YYYY-MM-DDTHH:mm)
            const formattedCurrentDate = currentDate.toISOString().slice(0, 16);
            const formattedNext30Days = next30Days.toISOString().slice(0, 16);

            // Set the default values for the input elements
            document.getElementById("id_activation_date").value = formattedCurrentDate;
            document.getElementById("id_expiration_date").value = formattedNext30Days;
        </script>


{% endblock content %}
